<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Incredit website">
        <meta name="author" content="Carlos Salgado">

        <title>IN-CREDIT COBRANZA</title>

        {% load static %}
        <!-- Bootstrap CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="body-cobranza">
        <div class="cobranza">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/une/"><button class="font-rr font-white">Regresar UNE</button></a>
                        <a href="/"><button class="font-rr font-white" style="margin-left:0.5em;">Inicio</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-0 col-lg-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
                        <img src="{% static "img/logo.png" %}">
                    </div>
                    <div class="col-lg-offset-0 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                        <p class="font-rr font-white title">REPRESENTANTES DESPACHOS DE COBRANZA</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">ALFONZO AMEZCUA GALVÁN</span>
                        <br>
                        <span class="font-rr">RFC:</span> AEGA720115548
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Obet Chiu Juárez</li>
                            <li>Erika Alejandra Vega Macías</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Juan Ruiz de Alarcón número 120, interior 8, Colonia Obrera Centro, Guadalajara Jalisco.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(33)-3616 3744, 01 (33) 3615 7467 y 01 (33) 3968 7020</li>
                            <li>callcenter@amezcuavega.com</li>
                            <li>obetchiu@amezcuavega.com</li>
                            <li>direccion@amezcuavega.com</li>
                            <li>erikavega@amezcuavega.com</li>
                            <li>obetchiu@hotmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">ALIO CORPORATIVO LEGAL S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> ACL0806051W1
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>José Armando Hermosillo Herrera</li>
                            <li>Luis González Magaña</li>
                            <li>Miriam García Barrera</li>
                            <li>Antonio Morales Rivera</li>
                            <li>Iván de Orta Chacón</li>
                            <li>Antonio Pérez Lepe</li>
                            <li>Manuel Carrillo Colunga</li>
                            <li>Raúl Valdez Martínez</li>
                            <li>Gabriel Gómez Camarena</li>
                            <li>Edgar Enrique Vélez Jiménez</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>José Armando Hermosillo Herrera</li>
                            <li>Luís González Magaña</li>
                            <li>Miriam García Barrera</li>
                            <li>Antonio Morales Rivera</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Avenida Lapislázuli número 2821, Residencial Victoria, Zapopan Jalisco.</li>
                            <li>Avenida Héroes de Nacozari número 210, Barrio la Purísima, Aguascalientes Aguascalientes.</li>
                            <li>Laguna de Carrizalillos número 730, Esquina Laguna de Alcuzahue, Las Víboras, Colima Colima.</li>
                            <li>Lomas del Pedregal número 507, Lomas del Campestre, León, Guanajuato.</li>
                            <li>Paseo de los Enamorados número 155 interior 5, Colonia Balaustradas, Querétaro.</li>
                            <li>Boulevard Francisco I. Madero número 227-A, Poniente Altos (planta Alta), colonia Centro, Culiacán de Rosales, Sinaloa.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(33) 1057 0848, 01 (33) 1057 0849, 045 33385 62014, 045 3339 466001</li>
                            <li>alio@alio.mx</li>
                            <li>hermosilloarmando@alio.mx</li>
                            <li>gonzalezluis@alio.mx</li>
                            <li>deortaivan@alio.mx </li>
                            <li>garciamiriam@alio.mx</li>
                            <li>moralesantonio@alio.mx</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">CASPEHERD CORPORATIVO S.A. DE C.V.</span>
                        <br>
                        <span class="font-rr">RFC:</span> CCO050225RU8
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Jorge Castillo Alamilla</li>
                            <li>Dante Barush Alsandari</li>
                            <li>Anahí Cobián Lezama</li>
                            <li>Elías Mora Arias</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Jorge Castillo Alamilla</li>
                            <li>María Dolores Gonzalez Segreste</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Arequipa número 635, Colonia Lindavista, Delegación Gustavo A. Madero, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 5752 1672, 01(55) 5752 1671, 01(55) 5754 5995, 01(55) 5118 6169</li>
                            <li>jcastillo@caspeherd.com.mx</li>
                            <li>dbarush@caspeherd.com.mx</li>
                            <li>acobian@caspeherd.com.mx </li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">GRUPO JORMA Y ASOCIADOS, S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> GJA9906025Q6
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Jorge Norberto Hernández Granados</li>
                            <li>Valter Chávez García</li>
                            <li>Minerva Hernández Hernández</li>
                            <li>Fermín Toledano Silva</li>
                            <li>Hugo Genaro Sanguino Lona</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Jorge Norberto Hernández Granados</li>
                            <li>María Eugenia Tanús Buhler</li>
                            <li>Minerva Hernández Hernández</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Camino al Desierto de los Leones Número 31 ph 501, Colonia San Angel, delegación Álvaro Obregón, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 5687 0770, 01(55) 5543 4649, 01(55) 5543 4409, 01(55) 5687 2761</li>
                            <li>jhgjorma@prodigy.net.mx</li>
                            <li>minervajorma@prodigy.net.mx</li>
                            <li>gabrielajorma@prodigy.net.mx</li>
                            <li>valter@infinutum.com.mx</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">PORTILLO & DE LA CRUZ, S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> PCR111129T8A
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Haidé Margarita García Álvarez</li>
                            <li>José Antonio Gómez Izquierdo</li>
                            <li>José Ángel Flores Martínez</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Mauricio Portillo Barragán</li>
                            <li>Edgar Alfredo De La Cruz González</li>
                            <li>Andrés Gomez Calderón</li>
                            <li>Liliana Sandoval Gómez</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Río Amazonas número 44, Primer piso, Colonia Cuauhtémoc, Delegación Cuauhtémoc, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 6389 0096</li>
                            <li>hgarcia@pdlc.com.mx</li>
                            <li>jagomez@pdlc.com.mx</li>
                            <li>jflores@pdlc.com.mx  </li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">ANAYELI MONTIEL TENORIO</span>
                        <br>
                        <span class="font-rr">RFC:</span> MOTA810829661
                        <br>
                        <span class="font-rr">Persona:</span> Física
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Aldo Ramón Guzmán Alanís</li>
                            <li>Perla Mayorga García</li>
                            <li>Jose Montiel Tenorio</li>
                            <li>Edna Carolina Vázquez Hernández</li>
                            <li>Cinthia Guadalupe Chávez Torres</li>
                            <li>Anayeli Montiel Tenorio</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Cinthia Guadalupe Chávez Torres</li>
                            <li>Anayeli Montiel Tenorio</li>
                            <li>Rodolfo Salazar Fierro</li>
                            <li>Víctor Pérez  Rodríguez</li>
                            <li>Jessica Yesenia Zúñiga Medina</li>
                            <li>Patricia Salazar Reyes</li>
                            <li>José Gilberto Villela Daza</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Insurgentes Sur número 1261, Despacho 701, Colonia Extremadura Insurgentes, Delegación Benito Juárez, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 4171 4375, 01(55) 4171 4537</li>
                            <li>044 55 4848 0326, 044 55 4785 7294, 044 55 7490 8412, 044 55 8120 02134</li>
                            <li>anayeli.montiel@hotmail.com</li>
                            <li>cinthia.chavez@hotmail.com</li>
                            <li>boletin_jud@hotmail.com </li>
                            <li>dropdespacho@hotmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">ASESORES LEGALES AVIÑA & ASOCIADOS</span>
                        <br>
                        <span class="font-rr">RFC:</span> AIRS7605296A8
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Sandra Aviña Ramírez</li>
                            <li>David Joel Jiménez Reséndiz</li>
                            <li>Carlos Adrián Juárez Razo</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Sandra Aviña Ramírez</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Calle Chichimecas, Mz. 428-A, Lt. 33, Primer Piso, Colonia Ciudad Azteca, Sección Poniente, Ecatepec Estado de México.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 2646 0549</li>
                            <li>044 55 4009 5610, 044 55 6403 7857, 044 55 4535 8193</li>
                            <li>asesoreslegalesvina@hotmail.com</li>
                            <li>carlosjuarez.102@gmail.com</li>
                            <li>joeluhi38@gmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">CORPORATIVO LEGAL ROSAS Y ASOCIADOS, S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> CLR0512223Z4
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Apolinar Gustavo Rosas Salas</li>
                            <li>Luciano Ruiz López</li>
                            <li>Darwin Wisther Sánchez</li>
                            <li>Luisa Rueda Estefes</li>
                            <li>Jorge Alejandro Barrón Fulgueira</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Apolinar Gustavo Rosas Salas</li>
                            <li>Iris Itazami Rosas Santibañez</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Tatúan número 120-A, Colonia del Bosque, Villahermosa Tabasco.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(993) 1313 027, 01(993) 3510 578, 01(993) 2137 488, 01 (993) 2020 616, 01(993) 3300 684</li>
                            <li>gustavo600723@hotmail.com </li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">B&B ASOCIADOS, ASESORIA LEGAL Y SERVICIOS PROFESIONALES E INTEGRALES, S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> BAB141205LC1
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Roberto Carlos Bahena Carachure</li>
                            <li>Yazmín Alejandra Ibarra Agüero</li>
                            <li>Veronica Lizbeth Urrutia Arellano</li>
                            <li>Ricardo Cruz Bueno</li>
                            <li>Javier Alejandro Bahena Carachure</li>
                            <li>Javier Bahena Carreño</li>
                            <li>Pedro Chilton Flores</li>
                            <li>Gabriela Olivares Garduño</li>
                            <li>Gustavo Octavio Guzmán Pérez</li>
                            <li>Francisco Javier Cervantes Carachure</li>
                            <li>Alba Isis Salgado Salgado</li>
                            <li>Eros Siddharta Mercado Barragán</li>
                            <li>Raúl Alberto Castro Berzunza</li>
                            <li>Iván Ortega Saldivar</li>
                            <li>Eder Castrejón Nájera</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Roberto Carlos Bahena Carachure</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Juan N. Álvarez número 1, piso 2, interior 4, Colonia Centro, Ciudad de Iguala de la Independencia, Estado de Guerrero.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(733) 3330 225, 01(733) 3342 738 </li>
                            <li>(045) 74424 32027, (045) 22254 57717, (045) 73333 62893, (045) 66424 01369</li>
                            <li>informacion@bybconsultorialegal.com</li>
                            <li>rbahena@bybconsultorialegal.com</li>
                            <li>ebarragan@bybconsultorialegal.com</li>
                            <li>cobranza.incredit30@gmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">TORRADO Y ASOCIADOS S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> TAS8408319L4
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Giovanni Marcelo Contreras Morales</li>
                            <li>Rafael Trujillo Morales</li>
                            <li>José Manuel Ayala  Blancas</li>
                            <li>Guillermo Antonio Chepe</li>
                            <li>Luís Antonio Báez</li>
                            <li>Juan Esteban Hernández López</li>
                            <li>Rigoberto Salazar Pérez</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Javier Torrado Cervera</li>
                            <li>Jorge Alberto Torrado Jhaza</li>
                            <li>Javier Torrado Jhaza</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Loma Bonita número 20, piso 2, San Jerónimo Aculco, Delegación Magdalena Contreras, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 6719 4478, 01(55) 6419 4479, 01(55) 6419 4480, 01(55) 6419 4481, 01(55) 9001 0454</li>
                            <li>(044) 55 5505 0526, (044) 55 6672 2983, (044) 55 3559 9415, (044) 55 6631 8482, (044) (044) 55 2664 1346, (044) 55 9197 1224, (044) 55 1081 1850, (044) 55 6672 9054, (044) 55 1082 3500, (044) 55 1082 3389, (044) 55 6672 9037, (044) 55 2902 4047, (044) 55 1822 9250</li>
                            <li>j.torrado@torradoyasociados.com</li>
                            <li>m.contreras@torradoyasociados.com</li>
                            <li>r.trujillo@torradoyasociados.com</li>
                            <li>m.ayala@torradoyasociados.com</li>
                            <li>a.islas@torradoyasociados.com</li>
                            <li>a.noguez@torradoyasociados.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">CONCEPTOS DE CALIDAD Y SERVICIO, S.A. DE C.V.</span>
                        <br>
                        <span class="font-rr">RFC:</span> CCS140204PJ0
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>José Abraham Ignacio Cruz</li>
                            <li>Marco Antonio Pérez López</li>
                            <li>Claudia Irene Quiroz Espinoza</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Pedro Peregrino Muñoz</li>
                            <li>Daniel Peregrino León</li>
                            <li>Ania Peregrino León</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Alfonso Herrera número 59, Colonia San Rafael, Delegación Cuauhtémoc, México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55)-55144722</li>
                            <li>dperegrino@conceptosdecalidad.com.mx</li>
                            <li>aperegrino@conceptosdecalidad.com.mx </li>
                            <li>aignacio@conceptosdecalidad.com.mx</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">INTERCONSULTORÍA CONSULTORIA PORTILLA Y ASOCIADOS S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> ICP080508TTA
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Juan Antonio Solano Cornelio</li>
                            <li>Ingrid del Carmen Hernández Revilla</li>
                            <li>Heriberto Enrique Pedrero Rueda</li>
                            <li>Oscar Barquet Viñas</li>
                            <li>Alfredo Rivas Cortes</li>
                            <li>Emilia Yolanda Cortes García</li>
                            <li>José María Lozano López</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Luis Arturo Portilla Torres</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Fray Andrés de Olmos número 204, Colonia Rafael Lucio, Xalapa Veracruz.</li>
                            <li>Edificio 19, Departamento 202, Conjunto Habitacional Palmitas, Colonia Atastade Serra, Villahermosa Tabasco.</li>
                            <li>Venustiano Carranza número 406, Colonia Centro, Coatzacoalcos Veracruz</li>
                            <li>Avenida 5 número 408, Colonia Centro, Córdoba Veracruz</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(128)-8904078, 01(993)-2075644, 01(271)-7115459, 01(921)-1125058</li>
                            <li>dir.gral.rec.judicial@gmail.com</li>
                            <li>dir.gral.rec.judicial.incredit@gmail.com</li>
                            <li>jsolano_28@hotmail.com</li>
                            <li>yaxkim@hotmail.com</li>
                            <li>inter.consultoria.cobranza@gmail.com</li>
                            <li>portillazonacentro@gmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">HALKIN ABOGADOS, S.C.</span>
                        <br>
                        <span class="font-rr">RFC:</span> HAB140523194
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Ofelia Halkin Rosenberg</li>
                            <li>Mario Isaac Sánchez Halkin</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Ofelia Halkin Rosenberg</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Coahuila número 61, 3er Piso, Colonia Roma, Delegación Cuauhtémoc,  México D.F.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 5564 1025, 01(55) 5584 7686</li>
                            <li>(044) 55 3566 0568, (044) 55 2971 7881, (044) 55 4063 7383</li>
                            <li>ohalkinr@gmail.com</li>
                            <li>licmhalkin@gmail.com</li>
                            <li>gquezada71@hotmail.com</li>
                        </ul>
                    </div>

                    <div class="col-lg-offset-1 col-lg-10 font-rl font-white text">
                        <span class="font-rr">DO. IT RIGTH, S.A. DE C.V.</span>
                        <br>
                        <span class="font-rr">RFC:</span> DIR030328MRA
                        <br>
                        <span class="font-rr">Persona:</span> Moral
                        <br>
                        <span class="font-rr">Estatus del Despacho:</span> Activo
                        <br>	
                        <span class="font-rr">Personas que llevan a cabo la actividad de cobranza:</span>
                        </br>
                        <ul>
                            <li>Héctor Carrillo Martínez</li>
                            <li>Claudia García López</li>
                            <li>Oscar Asdriel Gómez Macías</li>
                            <li>Omar Alberto José Landeta</li>
                            <li>Yessenia Legorreta Tapia</li>
                            <li>Ana Natally Morales</li>
                            <li>Eduardo Villagómez</li>
                            <li>Erick Alberto Salcedo Campuzano</li>
                            <li>Miguel Angel Hernández Salgado</li>
                        </ul>
                        <span class="font-rr">Principales Socios y Representantes Legales:</span>
                        </br>
                        <ul>
                            <li>Verónica Victoria Bárcenas García</li>
                            <li>Laura Noelia Bárcenas García</li>
                            <li>Carlos Ramírez Aguirre</li>
                        </ul>
                        <span class="font-rr">Dirección:</span> 
                        <ul>
                            <li>Avenida Dr. Gustavo Baz número 98, piso 7, Fraccionamiento Ind. Alce Blanco, Naucalpan, Estado de México.</li>
                        </ul>
                        <span class="font-rr">Teléfonos y correos:</span>
                        <ul>
                            <li>01(55) 4630 8130, 01(55) 4744 1632, 01(55) 4630 8150</li>
                            <li>hector.carrillo@dirsamexico.com</li>
                            <li>omar.jose@dirsamexico.com </li>
                            <li>claudia.garcia@dirsamexico.com</li>
                            <li>yessenia.legorreta@dirsamexico.com</li>
                            <li>oscar.gomez@dirsamexico.com</li>
                            <li>ana.carrillo@dirsamexico.com</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>