<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Incredit website">
        <meta name="author" content="Carlos Salgado">

        <title>IN-CREDIT Contrato de Crédito Automotriz</title>

        {% load static %}
        <!-- Bootstrap CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="mcredito">
        
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/#financiamiento"><button class="font-rr font-white">Regresar</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                        <img src="{% static "img/logo.png" %}" class="logo">
                    </div>
                    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 text-center">
                        <h1 class="font-me font-white title">Momentos de vida de Crédito Automotriz</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">LLAMADA DE BIENVENIDA</h2>
                    <p class="font-mr font-white text">Se realiza con el objetivo agradecer su preferencia y ponernos a sus órdenes para el seguimiento de su contrato.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">RECORDATORIO DE PRIMER PAGO</h2>
                    <p class="font-mr font-white text">Recordatorio de primer pago: Se realiza una llamada o envío de mail, para recordarle la primer fecha e importe del pago</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">REGISTRO EN EL PORTAL DE CLIENTES / CONSULTA DE ESTADO DE CUENTA Y FACTURAS</h2>
                    <p class="font-mr font-white text">Portal de Clientes: Este es un portal donde el cliente puede ingresar y consultar información relevante a su crédito, por medio de la página de www.in-credit.com.mx / acceso a clientes/ ingrese cuenta de correo y cree una contraseña.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">ACTUALIZACIÓN DE DATOS</h2>
                    <p class="font-mr font-white text">Actualización de Datos: Es importante que actualice sus datos en cuanto realice un cambio de domicilio, teléfono, correo electrónico, ya que las notificaciones e incluso la facturación que se realiza por el financiamiento se registrarán y enviarán a los medios de contacto que nos fueron proporcionados, así mismo si detecta algún error en los datos registrados en su crédito solicite la actualización al correo admoncontratos@in-credit.com.mx</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">RENOVACIÓN DE PÓLIZA DE SEGURO</h2>
                    <p class="font-mr font-white text">La póliza de seguro contratada por medio de IN CREDIT & LEASING, cubre el plazo total del financiamiento, salvo en aquellos contratos que cuentan con una promoción especial como año de seguro gratis, en estos casos se emitirán dos pólizas de seguro, y el pago se realiza por medio del servicio de domiciliación en las fechas e importes estipulados en la tabla de amortización anexo “C”, del contrato.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">PAGO DE ANUALIDADES</h2>
                    <p class="font-mr font-white text">Anualidades: Las anualidades son pagos especiales programados, los cuales son estipulados al inicio de la contratación del crédito, por lo que es muy importante estar al pendiente de estos, ya que la manera en la que son pagados, es por medio del servicio de domiciliación en la cuenta bancaria que estipulo al momento de la firma del contrato. Estos pagos lo puedes consultar en el Anexo “C”, del contrato.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">ANTICIPOS A CAPITAL</h2>
                    <p class="font-mr font-white text">Esta opción es para disminuir el pago mensual, del financiamiento manteniendo el mismo plazo del crédito, como beneficio bajan los interés calculados, ya que su aplicación es sobre el capital pendiente de pago, para realizarlo debe estar al corriente de sus pagos y la solicitud debe realizarse por escrito al correo: admoncontratos@in-credit.com.mx, indicando número de contrato, nombre del titular, fecha de pago e importe abonar, en un lapso de 72 hrs, se le enviará una propuesta y los pasos a seguir.</p>
                </div>

                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">SINIESTRO</h2>
                    <p class="font-mr font-white text">Revise bien su contrato en el “anexo a.1”, ya que en este especifica los seguros contratados, así como las coberturas con la cuenta el crédito, es importante tener siempre sus documentos a la mano y en orden. No olvide primero llamar a la compañía de aseguradora y posteriormente notificar a IN CREDIT & LEASING. Si desea mayor información solicítela al correo de seguros@in-credit.com.mx.</p>
                </div>

                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">TERMINACIÓN ANTICIPADA</h2>
                    <p class="font-mr font-white text">La terminación anticipada del contrato, puede generarse sin penalización alguna, en el momento que el cliente lo desee, siempre y cuando se encuentre al corriente de sus obligaciones, para ello es importante que realice su solicitud por escrito al correo de admoncontratos@in-credit.com.mx, indicando número de contrato, nombre completo del titular, en un lapso de 72 hrs hábiles recibirá una respuesta, posterior al pago de la liquidación, recibirá una notificación de cierre y la fecha en la cual podrá recoger la factura en el distribuidor de origen.</p>
                </div>

                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">LIBERACION DE FACTURA</h2>
                    <p class="font-mr font-white text">Una vez liquidado el crédito al 100%, se genera el proceso de liberación de factura el cual es validar los pagos generados y solicitar al archivo su envío al Distribuidor de origen, este proceso tarda aproximadamente 20 días hábiles.  Es importante que este al pendiente de su crédito, ya que le llegará una notificación previa del aviso de terminación y una posterior confirmando la fecha y lugar de entrega de factura.</p>
                </div>

                <!--<div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white"></h2>
                    <p class="font-mr font-white text"></p>
                </div>-->
            </div>
        </div>
    </body>
</html>