<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Incredit website">
        <meta name="author" content="Carlos Salgado">

        <title>IN-CREDIT Contrato de Arrendamiento Puro</title>

        {% load static %}
        <!-- Bootstrap CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="arrendamiento">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/#financiamiento"><button class="font-rr font-white">Regresar</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                        <img src="{% static "img/logo.png" %}" class="logo">
                    </div>
                    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 text-center">
                        <h1 class="font-me font-white title">Vida de un Contrato de Arrendamiento Puro</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">LLAMADA DE BIENVENIDA</h2>
                    <p class="font-mr font-white text">Le contactaremos para agradecer su preferencia y proporcionarle información importante respecto a su contrato, el cómo contactarnos y acceder a nuestro portal.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">ACTUALIZACIÓN DE DATOS</h2>
                    <p class="font-mr font-white text">Si durante la vida de su contrato realiza algún cambio de domicilio, teléfono, correo electrónico, etc., favor de notificarlo a nuestro Centro de Atención a Clientes para mantener su información actualizada:</p>
                    <p class="font-mr font-white" style="margin-left:8em;">
                        servicioaclientes@in-credit.com.mx
                        <br>
                        01800 4627 3348, Opc. 1
                        <br>
                        (55)4161 4080, Opc. 1
                        <br>
                        (55)4161 4032
                    </p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">REGISTRO EN EL PORTAL DE CLIENTES/ CONSULTA DE ESTADO DE CUENTAS Y FACTURAS</h2>
                    <p class="font-mr font-white text">En nuestra página www.in-credit.com.mx, en "ACCESO A CLIENTES", ingrese su correo electrónico y contraseña. Con ello, usted podrá accesar a su portal y podrá consultar su Estado de Cuenta y los últimos 10 CFDIs emitidos a su favor por IN C&L®.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">MULTAS E INFRACCIONES</h2>
                    <p class="font-mr font-white text">De acuerdo al contrato es obligación del arrendatario realizar todos los gastos por conceptos de infracciones, multas y cualesquiera otros a los que incurra por el uso del vehículo. Por ello, deberá pagarla ante las autoridades correspondientes de su localidad de manera inmediata y enviar vía correo electrónico a leasing@in-credit.com.mx el comprobante de pago, incluyendo en el título de su mensaje el número de contrato y nombre de cliente.</p>
                </div>
                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">TENENCIAS, DERECHOS DE REFRENDO E IMPUESTOS</h2>
                    <p class="font-mr font-white text">De acuerdo al contrato será a cargo del arrendatario todos los impuestos y/o derechos que se causen por el uso del Vehículo que arrenda, tales como tenencia, derechos de refrendo y/o cualquier otro que la ley contemple, durante la vigencia del mismo. En seguimiento, usted debe:</p>

                    <p class="font-mr font-white text">a) Realizar el pago que corresponda, de acuerdo a las disposiciones de su Estado o localidad.</p>

                    <p class="font-mr font-white text">b) Enviar una copia legible y nítida, del comprobante de pago correspondiente, vía correo electrónico a leasing@in-credit.com.mx incluyendo en el título de su mensaje el número de contrato y nombre de cliente.</p>
                </div>

                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">LIBERACIÓN DE UNIDADES DE DEPÓSITOS VEHICULARES</h2>
                    <p class="font-mr font-white text">Si la unidad que arrenda está detenida en un corralón a causa de un siniestro o una infracción y requiere obligatoriamente de un Representante Legal de IN C&L® para la acreditación de la propiedad y liberación del vehículo, deberá notificarlo vía correo electrónico a leasing@in-credit.com.mx, especificando:</p>

                    <p class="font-mr font-white text">a) Número de contrato</p>
                    <p class="font-mr font-white text">b) Nombre de arrendatario</p>
                    <p class="font-mr font-white text">c) Motivo por el que la unidad está detenida</p>
                    <p class="font-mr font-white text">d) Lugar en el que la unidad está detenida</p>
                    <p class="font-mr font-white text">e) Teléfono(s) para su contacto y para coordinar el proceso junto con el representante legal de IN C&L®</p>
                </div>

                 <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">SINIESTRO</h2>
                    <p class="font-mr font-white text">Si usted tuvo un siniestro:</p>

                    <p class="font-mr font-white text">1. Conserve la calma</p>
                    <p class="font-mr font-white text">2. Llame a la compañía aseguradora, al teléfono que aparece en la póliza de seguros.</p>
                    <p class="font-mr font-white text">3. En caso de con contar con su póliza, solicítela a nuestro centro de servicio a clientes, mencionando el número    de contrato y nombre del titular:</p>
                    <p class="font-mr font-white text">servicioaclientes@in-credit.com.mx</p>
                    <p class="font-mr font-white text">01800 4627 3348, Opc. 1</p>
                    <p class="font-mr font-white text">(55)4161 4080, Opc. 1</p>
                    <p class="font-mr font-white text">(55)4161 4032</p>
                    <p class="font-mr font-white text">4. Una vez reportado el siniestro, su ajustador le indicará los pasos a seguir.</p>
                    <p class="font-mr font-white text">5. En caso de que la aseguradora determine pérdida total, debe notificarlo en un lapso de 24 horas a     seguros@in-credit.com.mx y leasing@in-credit.com.mx adjuntando copia de la carta de Pérdida Total.
                    <p class="font-mr font-white text">6. Debe consultar el check list de acuerdo al tipo de siniestro que tuvo y enviar la documentación indicada a seguros@in-credit.com.mx, titulando su mensaje con el número de contrato y nombre del cliente.</p>

                    <p class="font-mr font-white text">•    Daños Materiales &nbsp; &nbsp; &nbsp; &nbsp; <a href="robo_daños_materiales.pdf" target="_blank">Descargar</a> </p>

                    <p class="font-mr font-white text">•    Robo Total &nbsp; &nbsp; &nbsp; &nbsp;  <a href="robo_total.pdf" target="_blank">Descargar</a> </p>

                    <p class="font-mr font-white text">7. Deberá realizar los trámites de baja de placas y en caso de robo del vehículo, levantar el acta correspondiente   ante el ministerio público. La financiera solo tiene la obligación de realizar la acreditación de propiedad por el  robo.</p>
 
                </div>

                 <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">TERMINACIÓN DE UN CONTRATO</h2>
                    <p class="font-mr font-white text">A la fecha de término de su contrato, deberá:</p>

                    <p class="font-mr font-white text">1. Restituir cada Vehículo en el domicilio de la Agencia Distribuidora que se indica en el punto II del ANEXO    LETRA “A” de su Contrato, junto con toda su documentación al corriente del vehículo (tenencias, placas,     calcomanías, control de contaminación vehicular, etc.). </p>
                    <p class="font-mr font-white text">2. Firmar el Recibo de Devolución de la unidad correspondiente que le entregue su Distribuidor, ya que dicho     recibo es el documento oficial que da por terminado el periodo del arrendamiento.</p>
                    <p class="font-mr font-white text">3. Dar de baja las placas de la unidad, si estuvieran a nombre de la Arrendadora.</p>
                    <p class="font-mr font-white text">4. Solicitar el precio de la unidad con su Distribuidor, en caso de que esté interesado en compra de la misma,   para que pague el importe correspondiente y le sea facturado el vehículo, o bien solicitar el financiamiento de la  unidad seminueva.</p>
                    
                </div>

                <div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white">DEVOLUCIÓN DE LA UNIDAD
                    </h2>
                    <p class="font-mr font-white text">A la fecha de término de su contrato, deberá:</p>

                    <p class="font-mr font-white text">1. Restituir cada Vehículo en el domicilio de la Agencia Distribuidora que se indica en el punto II del ANEXO    LETRA “A” de su Contrato, junto con toda su documentación al corriente del vehículo (tenencias, placas,     calcomanías, control de contaminación vehicular, etc.).</p>
                    <p class="font-mr font-white text">En caso de que no devuelva la unidad que arrendaba a máximo un día hábil después de la fecha de vencimiento  de su contrato, se obliga a pagar una renta diaria generada con base a lo estipulado en la cláusula 10.3 de su  Contrato.</p>
                    <p class="font-mr font-white text">Si el Vehículo no se encuentra en buenas condiciones debido a mal uso, choques, volcaduras, faltantes u otras averías no cubiertas por el seguro, podrá optar por reparar los daños en talleres autorizados por la red de distribuidores de la marca o entregarle al Distribuidor la cantidad que corresponda para que realice las    reparaciones que se requieran conforme al Recibo de Devolución.</p>
                    <p class="font-mr font-white text">Si el Vehículo reporta un kilometraje superior al máximo autorizado conforme al punto III del  ANEXO LETRA “A” de su Contrato,  debe pagar a IN C&L® a través del Distribuidor, el importe excedente que por este concepto corresponda. </p>
                    <p class="font-mr font-white text">Si el Vehículo no está al corriente en el pago de impuestos, multas, impuestos, infracciones u otros, deberá de  realizar el trámite o pago correspondiente para regularizarlo de manera inmediata.</p>
                    <p class="font-mr font-white text">2.- Deberá también dar de baja las placas de la unidad, si estuvieran a nombre  de la Arrendadora; o bien,   realizar    el cambio de propietario de las placas, si compra el vehículo.</p>
                    <p class="font-mr font-white text">3. Firmar el Recibo de Devolución de la unidad correspondiente que le entregue su Distribuidor,  ya que dicho recibo es el documento oficial que da por terminado el periodo del arrendamiento.</p>


                </div>

                <!--<div class="col-lg-offset-1 col-lg-10 info">
                    <h2 class="font-me font-white"></h2>
                    <p class="font-mr font-white text"></p>
                </div>-->
            </div>
        </div>
    </body>
</html>