<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Incredit website">
        <meta name="author" content="Carlos Salgado">

        <title>IN-CREDIT Cotización</title>

        {% load static %}
        <!-- Bootstrap CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="body-aviso">
        <div class="aviso">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                        <img src="{% static "img/logo.png" %}" class="logo">
                    </div>
                    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 text-center">
                        <h1 class="font-me font-white">Tabla de amortización</h1>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <div class="container">
            <table class="table table-bordered font-white font-rr" style="text-align:center;">
                <thead>
                <tr>
                    <th style="text-align:center;"># Pago</th>
                    <th style="text-align:center;">Interes</th>
                    <th style="text-align:center;">Abono</th>
                    <th style="text-align:center;">IVA</th>
                    <th style="text-align:center;">Cuota</th>
                    <th style="text-align:center;">Saldo</th>
                </tr>
                </thead>
                <tbody>
                    {% for pay in pays %}
                        <tr>
                            <td>{{pay.0}}</td>
                            <td>${{pay.1}}</td>
                            <td>${{pay.2}}</td>
                            <td>${{pay.3}}</td>
                            <td>${{pay.4}}</td>
                            <td>${{pay.5}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        </div>
    </body>
</html>