<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Incredit website">
        <meta name="author" content="Carlos Salgado">

        <title>IN-CREDIT UNE</title>

        {% load static %}
        <!-- Bootstrap CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body class="body-une">
        <div class="une">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/"><button class="font-rr font-white">Inicio</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-0 col-lg-4 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
                        <img src="{% static "img/logo.png" %}" class="logo">
                    </div>
                    <div class="col-lg-offset-0 col-lg-7 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                        <p class="font-rr font-white title">UNE:</p>
                        <p class="font-rr font-white subtitle">SU SERVICIO FINANCIERO S.A. DE C.V. SOFOM E.N.R.</p>
                        <p class="font-rr font-white subtext">UNE-SU SERVICIO FINANCIERO (Unidad Especializada para atender Consultas, Reclamaciones y Aclaraciones de los Usuarios).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <p class="font-rl font-white text">
                            Para atender cualquier tipo de consulta, reclamación y /o aclaración respecto a nuestros servicios, ponemos a su disposición nuestra Unidad Especializada, la que dará respuesta en un plazo no mayor a 30 (treinta) días hábiles.
                            <br><br>
                            Celia Nataly Rodríguez García
                            <br>
                            Titular y Encargado Regional de la UNE – SU SERVICIO FINANCIERO 
                            <br><br>
                            Ubicada en: 
                            <br>
                            Avenida de las Palmas número 735 Piso 15, Lomas de Chapultepec, Delegación Miguel Hidalgo, Ciudad de México, C.P. 11000.
                            Línea telefónica: (01 55) 4161 4080 Ext. 6173
                            <br>
                            <br>
                            Horario de atención: 
                            <br>
                            Lunes a Viernes de 09:00 a 14:00 horas
                            <br>
                            Correo electrónico: une@in-credit.com.mx
                        </p>
                    </div>
                </div>
            </div>
            <div class="container container-condu">
                <div class="row">
                    <div class="col-lg-12" style="background-color:#FFF;">
                        <center><img src="{% static "img/condusef.jpg" %}" class="condu"></center>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <p class="font-rl font-white text">
                            “Incumplir con tus obligaciones te puede generar comisiones e intereses moratorios”
                            <br>
                            “Contratar créditos por arriba de tu capacidad de pago puede afectar tu historial crediticio”
                            <br>
                            “El avalista, obligado solidario o coacreditado responderá como obligado principal frente a la Entidad Financiera”
                            <br><br>
                            IN CREDIT & Leasing, de conformidad con lo establecido en el artículo 87-J de la Ley General de Organizaciones y Actividades Auxiliares del Crédito, para su constitución y operación como sociedad financiera de objeto múltiple, así como para llevar a cabo operaciones de crédito, arrendamiento financiero y factoraje financiero con tal carácter, NO requiere de autorización de la Secretaría de Hacienda y Crédito Público, sin embargo se encuentra sujeta a la supervisión de la Comisión Nacional Bancaria y de Valores, únicamente para efectos de lo dispuesto en el Artículo 56 de dicha Ley.
                            <!--SU SERVICIO FINANCIERO S.A. DE C.V. SOFOM E.N.R para su constitución y operación no requiere autorización de la Secretaria de Hacienda y Crédito Público y no está sujeta a la supervisión y vigilancia de la Comisión Nacional Bancaria y de Valores, de conformidad con lo establecido en el artículo 87-J de la ley General de Organizaciones y Actividades Auxiliares de Crédito.-->
                            <br>
                            Atención a clientes CONDUSEF
                            <br>
                            En el territorio nacional: 01 800 999 80 80
                            <br>
                            En el Distrito Federal y Área Metropolitana: (55) 5340 0999
                            <br>
                            Vía correo 
                            <br>
                            electrónico asesoria@condusef.gob.mx
                            <br>
                            Insurgentes Sur #762, Col. Del Valle, Delegación Benito Juárez, México D.F., C.P 03100
                            <br>
                            <a href="http://www.condusef.gob.mx/gbmx">http://www.condusef.gob.mx</a>
                            <br>
                            En cumplimiento al artículo 17 Bis de la Ley para la Transparencia y Ordenamiento de los Servicios Financieros, ponemos a su disposición los datos suficientes de identificación de los despachos externos, que incluye a terceros o representantes que realizan la cobranza de los créditos que otorgamos, así como de aquellos que apoyan en las operaciones de negociación y reestructuración de créditos con nuestros Clientes o con aquellas personas que por alguna razón sean deudores frente a Su Servicio Financiero, S.A. de C.V. SOFOM E.N.R. en la siguiente liga: <a href="/cobranza/" style="text-decoration: underline;">Representantes Despachos de Cobranza</a>
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>